# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Images
Images/
Libs/

*.exe

# YOLO
runs/
weights/
*.pt

# Datasets
dataset/
datasets/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db